extends base

block page_content
    
    section#graay.graay-header
        h1.main_heading.center About Us
    
    section.about-info 
        .container 
            .row 
                .col-7.left.goDown
                    h1 Al-Diwan Food Industry Co
                    p An Egyption Joint Stock Company Established In 2008 In The Field Of High Quality Food Packaging
                .col-5.right
                    img(src="/img/front/banner-01.jpg", alt="photo")

    section.about-numbers
        .container 
            .row 
                .col-3.center.goDown
                    h3 Numbers Speak For Themselves! 
                .col-3.center.goDown
                    h1 5,000+ 
                    span Total Products
                .col-3.center.goDown
                    h1 800+
                    span Total Products
                .col-3.center.goDown
                    h1 40+
                    span Total Products

    section.about-view 
        .container 
            .row 
                .col-6.left
                    img(src="/img/front/banner2.png", alt="")
                .col-6.right 
                    h1 We Deal With Various Quality Organic Products!
                    img(src="/img/front/logo-leaf-new.png", alt="")
                    .row 
                        .col-6 
                            span
                                i.icofont-check
                                span Best Quality
                            span 
                                i.icofont-check
                                span spices
                            span 
                                i.icofont-check
                                span legumes
                        .col-6 
                            span 
                                i.icofont-check
                                span best price
                            span 
                                i.icofont-check
                                span delivery on time 
                            span 
                                i.icofont-check
                                span Grocery
                    button.start_shopping_btn.btn-main
                        a(href="/products") 
                            i.icofont-shopping-cart 
                            | Start Shopping