extends base

block page_content

    section.cart-section#page_cart 
        .container 
            h1 Cart 
            .products-container
                .nomer 
                    i.icofont-cart 
                    | Your Cart is Currently Empty
                a(href="/shop").btn.btn-main Return to shop
                