extends base

block page_content
    
    section#graay.graay-header
        h1.main_heading.center Get In Touch
    
    section.contact-info
        .container 
            .row 
                .col-4.center.goDown 
                    i.icofont-phone
                    h2 +20 010 1074 4417
                .col-4.center.goDown 
                    i.icofont-envelope
                    h2 info@el-diwan.com
                .col-4.center.goDown 
                    i.icofont-google-map 
                    h2 1 Nashaat Alzohery ST, Monieb, Giza
        .container 
            h1.main__heading Frequently 
                span.btn__main Asked 
                | Questions
            button.accordion 100% Fluid Responsive - Fits Any Device Perfectly
            .panel
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsa iusto dolores, reiciendis aliquid vero fuga! Exercitationem nesciunt eum animi facere quisquam labore architecto distinctio voluptatibus. Maxime odit vero aut.
            button.accordion Clean Code
            .panel 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deleniti magni praesentium deserunt quam et. Et reiciendis blanditiis libero delectus possimus voluptate temporibus quod distinctio magnam dolores iusto, impedit ipsum!
                
            

            button.accordion Flat, Modern And Clean Design
            .panel 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptate deserunt natus, ut laboriosam quidem doloribus repudiandae corrupti dolor expedita recusandae vel numquam, placeat reiciendis odio. Earum dicta assumenda saepe.
                
            
            button.accordion Custom Font Support
            .panel 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptate deserunt natus, ut laboriosam quidem doloribus repudiandae corrupti dolor expedita recusandae vel numquam, placeat reiciendis odio. Earum dicta assumenda saepe.
                
            