extends base

block head_content
    link(rel='stylesheet' href='/css/style.css')

block page_content
    if user 
        script(src="/js/redirect.js") 
    else
        .fit-container.center
            .login-form
                h2.heading-secondary.ma-bt-lg Log into your account
                form.form.form__login
                    .form__group
                        label.form__label(for='email') Email address
                        input#email.form__input(type='email', placeholder='you@example.com', required)
                    .form__group.ma-bt-md
                        label.form__label(for='password') Password
                        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group
                        button.btn.btn--green Login